In [1]:
# imports
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# Get all the variable names
varname = list(pd.read_csv('LEUVENAIRfulldump2019.csv', skiprows=0, nrows = 0, usecols = None).columns)
print('All variable names are :', varname)
print('SDS011 sensor measures PM2.5 anf PM10.')
print('DHT sensor measures tempretaure and humidity.')

All variable names are : ['DATEUTC', 'LAT', 'LON', 'SDS011ID', 'PM2.5', 'PM10', 'DHTID', 'TEMPERATURE', 'HUMIDITY', 'OBSID']
SDS011 sensor measures PM2.5 anf PM10.
DHT sensor measures tempretaure and humidity.

In [3]:
dframe_ex = pd.read_csv('LEUVENAIRfulldump2019.csv', skiprows=0, nrows = 10, usecols = None)
dframe_ex

,DATEUTC,LAT,LON,SDS011ID,PM2.5,PM10,DHTID,TEMPERATURE,HUMIDITY,OBSID
0,2019-01-01 00:00:00,50.8821,4.7190,13528,14.90,16.60,13529,8.9,99.9,15056775
1,2019-01-01 00:00:02,50.8896,4.7267,9587,NaN,NaN,9588,9.7,99.9,15056776
2,2019-01-01 00:00:03,50.9279,4.7056,8785,12.83,20.53,8786,8.7,99.9,15056777
3,2019-01-01 00:00:04,50.8693,4.7019,9563,9.20,10.27,9564,9.4,99.9,15056779
4,2019-01-01 00:00:05,50.8616,4.7115,9567,9.03,10.77,9568,8.8,99.9,15056780
5,2019-01-01 00:00:06,50.8642,4.6799,12505,10.43,12.00,12506,9.3,99.9,15056781
6,2019-01-01 00:00:08,50.8791,4.6918,9591,14.60,20.57,9592,8.8,99.9,15056782
7,2019-01-01 00:00:09,50.8955,4.7024,8809,14.67,18.47,8810,NaN,NaN,15056783
8,2019-01-01 00:00:11,50.8775,4.7410,10045,10.70,14.30,10046,8.7,99.9,15056784
9,2019-01-01 00:00:14,50.8607,4.6985,8849,7.67,8.83,12054,10.4,99.9,15056785

In [4]:
# Note: The PM2.5 measurements of the SDS011 sensor are much more reliable than the PM10 measurements.
# For long-term analyses, stick to the PM2.5 measurements. PM10 measurement can be used for peak detection only.
# The sensor will overestimate the PM concentration in humid conditions (relative humidty RH > ~75%) and will
# understimate the PM concentrations in dry conditions (RH < ~50%).

# Note: The measurements of the DHT sensor (temperature + humidty) are not so realiable. Try to use an external
# source for temperature and relative humidity.

In [5]:
dframe = pd.read_csv('LEUVENAIRfulldump2019.csv', skiprows=0, nrows = None, usecols = ['DATEUTC'])
time_of_day = dframe.values
numrec = time_of_day.size

In [6]:
print('Number of records = ',numrec)

Number of records =  13984608

In [7]:
datetime = pd.to_datetime(np.squeeze(time_of_day))
seconds = datetime.second
minutes = datetime.minute
hours = datetime.hour
days = datetime.day
weeks = datetime.week
months = datetime.month
years = datetime.year

In [8]:
print('The 1st measurement was acquired on ',datetime[0])
print('The last measurement was acquired on ',datetime[numrec-1])
print('The time delta between the 1st and last measurement = ',datetime[numrec-1]-datetime[0])
print('Total number of measurements acquired = ',numrec)

The 1st measurement was acquired on  2019-01-01 00:00:00
The last measurement was acquired on  2019-12-31 23:59:57
The time delta between the 1st and last measurement =  364 days 23:59:57
Total number of measurements acquired =  13984608