In [1]:
# imports
import pandas as pd
import numpy as np
from myutils.utility import getSensorData
from matplotlib import pyplot as plt

In [2]:
# Get all the variable names
varname = list(pd.read_csv('LEUVENAIRfulldump2018.csv', skiprows=0, nrows = 0, usecols = None).columns)
print('All variable names are :', varname)

All variable names are : ['DATEUTC', 'LAT', 'LON', 'SDS011ID', 'PM2.5', 'PM10', 'DHTID', 'TEMPERATURE', 'HUMIDITY', 'OBSID']

In [3]:
dframe_ex = pd.read_csv('LEUVENAIRfulldump2018.csv', skiprows=0, nrows = 10, usecols = None)
dframe_ex

,DATEUTC,LAT,LON,SDS011ID,PM2.5,PM10,DHTID,TEMPERATURE,HUMIDITY,OBSID
0,2018-01-30 00:00:27,50.8900,4.7214,6561,10.90,19.10,NaN,NaN,NaN,33210
1,2018-01-30 00:00:34,50.8821,4.7190,8765,8.90,16.87,8766.0,7.2,85.1,33211
2,2018-01-30 00:01:56,50.8732,4.6982,8745,7.00,10.13,8746.0,7.0,89.0,33212
3,2018-01-30 00:02:01,50.8894,4.7231,8950,11.03,14.87,8951.0,6.6,96.0,33213
4,2018-01-30 00:02:12,50.8861,4.6979,8993,11.10,18.02,8994.0,7.6,71.1,33214
5,2018-01-30 00:02:27,50.8900,4.7214,6561,11.00,19.70,NaN,NaN,NaN,33215
6,2018-01-30 00:03:01,50.8821,4.7190,8765,8.63,14.10,8766.0,7.3,85.2,33216
7,2018-01-30 00:04:23,50.8732,4.6982,8745,6.60,11.80,8746.0,7.0,88.9,33217
8,2018-01-30 00:04:27,50.8894,4.7231,8950,11.70,22.47,8951.0,6.6,96.0,33218
9,2018-01-30 00:04:28,50.8900,4.7214,6561,11.00,19.40,NaN,NaN,NaN,33219

In [7]:
dframe = pd.read_csv('LEUVENAIRfulldump2018.csv', skiprows=0, nrows = None, usecols = ['DATEUTC'])
time_of_day = dframe.values
numrec = time_of_day.size

In [8]:
print('Number of records across all sensors = ',numrec)

Number of records across all sensors =  13889081

In [9]:
datetime = pd.to_datetime(np.squeeze(time_of_day))
seconds = datetime.second
minutes = datetime.minute
hours = datetime.hour
days = datetime.day
weeks = datetime.week
months = datetime.month
years = datetime.year

In [10]:
print('The 1st measurement was acquired on ',datetime[0],' using sensor ',)
print('The last measurement was acquired on ',datetime[numrec-1])
print('The time delta between the 1st and last measurement = ',datetime[numrec-1]-datetime[0])
print('Total number of measurements acquired = ',numrec)

The 1st measurement was acquired on  2018-01-30 00:00:27  using sensor
The last measurement was acquired on  2018-12-31 23:59:59
The time delta between the 1st and last measurement =  335 days 23:59:32
Total number of measurements acquired =  13889081

In [ ]:
fields = getSensorData()